.image-container{
    max-width: 1080px;
    position: relative;
    margin: auto;
    overflow: hidden;
.most_popular{
    height: 800px;
    &__main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      &__content{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        width: 31rem;
        height: 250px;
        margin: 100px 0px 0px 0px;
        padding: 30px;
        border-radius: 30px; 
        img {
            width: 100%;
            margin-top: 25%;
            width: 100%;
        }
        .height {
            height: 10px;
        }
        &__text{            
                h3{
                    padding-left: 20px;            
                }
                p{
                    padding:10px 5px;
                }
                button{
                    width: 260px;
                    height: 40px;
                    background-color: $button-color;
                    color: white;
                    border-radius: 20px;
                }            
        }


      }
        
    }
}



    .fa {
        font-size: 32px;
    }
    
    .fa:hover {
        transform: rotate(360deg);
        transition: 1s;
        color: white;
    }
}



/* Image-container design */

.next {
    right: 0;
}


/* Next and previous icon design */
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
}



.footerdot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active,
.footerdot1:hover {
    background-color: $button-color;
}